<mat-toolbar class="toolbar" color="primary">
  <div class="container">
    <button mat-icon-button (click)="menuButtonOpened = !menuButtonOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Game Stock</span>
  </div>

  <app-game-search></app-game-search>

  <div class="container">
    <button mat-icon-button routerLink="/game-input-form">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button routerLink = "/games">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="menuButtonOpened">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>