<mat-toolbar class="toolbar" color="primary">
  <div class="container">
    <button mat-icon-button (click)="menuButtonOpened = !menuButtonOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Game Stock</span>
  </div>

  <app-game-search></app-game-search>

  <div class="container">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="menuButtonOpened"></mat-sidenav>
  <mat-sidenav-content>
    <app-game-input-form></app-game-input-form>
  </mat-sidenav-content>
</mat-sidenav-container>
