div {
    background-color: accent;
}

.container {
    display: flex; /* or inline-flex */
    align-items: center;
  
  }

.search-input {
    width: 400px;
}

button:hover, button:active {
    color: lightgrey
}

mat-select:hover, mat-select:active {
    color: lightgrey
}